.full {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.centering-elements {

    display: flex;
    justify-content: center;
    align-items:center;
}

.centering-elements-v { 

    display: flex;
    justify-content: center;
}

.centering-elements-h {

    display: flex;
    align-items:center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
